RewriteEngine On

# 1. WebSockets durchreichen
RewriteCond %{HTTP:Upgrade} websocket [NC]
RewriteCond %{HTTP:Connection} upgrade [NC]
RewriteRule ^ws(.*)$ "ws://127.0.0.1:8000/ws$1" [P,L]

# 2. Alle anderen Anfragen an Node.js weiterleiten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://127.0.0.1:8000/$1 [P,L]